* {
    margin: 0;
    border-collapse: collapse;
    text-decoration: none;
}   

.mainContent {
    font-family: Arial, Helvetica, sans-serif;
}


.mainContent button {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(48, 134, 48);
    width: 7%;
    height: 5%;
    padding-bottom: 7px;
    padding-top: 7px;
    border-width: 0px;
    color: white;
    font-size: 20px;
}

.mainContent h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.mainContent h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.imageGallery {
    display: inline-flex;
    justify-content: right;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imageGallery div {
    float: right;
}
.imageGallery div img{
    width: 33%;
}
.socialIcons {
    text-align: center;
    margin-top: 20px;
}

.socialIcons a {
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    transition-duration: 1s;
}

.fa:hover {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    font-size: 70px;
}

.fa-envelope {
    background: rgb(221, 75, 57);
    color: white;
}

.fa-github {
    background: rgb(0, 0, 0);
    color: white;
}

.fa-linkedin {
  background: rgb(0, 123, 181);
  color: white;
}

.fa-twitter {
  background: rgb(85, 172, 238);
  color: white;
}